<template>
  <v-card-item class="footer">
      <v-text-field
        ref="name"
        v-model="name"
        rounded
        variant="outlined"
        label="New Task"
        single-line
        flat
        bg-color="white"
        hide-details
      > 
      <template v-slot:append-inner>
        <v-icon size="40" color="blue" @click="taskAdd()" icon="mdi-plus-circle"></v-icon>
      </template>
    </v-text-field>
  </v-card-item>
</template>

<script>
import { useTaskStore } from '@/store/tasks'
import { mapActions } from 'pinia'

export default {
  state() {
    return {
      name: null
    }
  },
  methods: {
    ...mapActions(useTaskStore, ['addTask']),
    taskAdd() {
      this.addTask(this.name)
      this.name = null
      
      this.$refs.name.blur()
    }
  }
}
</script>

<style scoped lang="scss">
.footer {
  background-color: #aaa5a593;
}
:deep(.v-field__outline) {
  border: 3px solid #52a0fa;
  border-radius: 999px !important;

  .v-field__outline__start,
  .v-field__outline__end {
    border: none !important;
  }
}
</style>