<template>
  <v-card-item class="header d-flex justify-end">
    <Tag name="Tasks" :count="tasks.length"/>
    <Tag name="Tasks Done" :count="tasksDone"/>
    <DeleteButton v-if="tasks.length > 0" name="Tasks"/>
    <DeleteButton v-if="tasksDone > 0" name="Tasks Done"/>
  </v-card-item>
</template>

<script>
import Tag from '@/components/Buttons/Tag'
import DeleteButton from '@/components/Buttons/DeleteButton'

export default {
  components: {
    Tag,
    DeleteButton
  },
  props: {
    tasks: Array,
    required: true
  },
  computed: {
    tasksDone() {
      return this.tasks.filter((task) => {
        return task.status.done
      }).length
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  background-color: #aaa5a593;
}
</style>