<template>
  <v-list-item class="item">
      <template v-slot:prepend>
        <v-icon size="large" :color="status" icon="mdi-check-circle" @click="taskDone"></v-icon>
      </template>

      <span :class="scratch">{{ task.name }}</span>

      <template v-slot:append>
        <v-icon icon="mdi-trash-can" @click="taskRemove"></v-icon>
      </template>
  </v-list-item>
</template>

<script>
import { useTaskStore } from '@/store/tasks'
import { mapActions } from 'pinia'

export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions(useTaskStore, ['updateTask', 'removeTask']),
    taskDone() {
      this.updateTask(this.task.id)
    },
    taskRemove() {
      this.removeTask(this.task.id)
    }
  },
  computed: {
    status() {
      return !this.task.status.done ? 'green' : null
    },
    scratch() {
      return this.task.status.done ? 'scratch' : null
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  padding: 20px 20px;
  margin: 7.5px 20px 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.scratch {
  text-decoration: line-through;
}
</style>
