<template>
  <v-btn
      @click="clear"
      class="mx-1"
      color="red"
      prepend-icon="mdi-trash-can"
    >
    <span class="custom font-weight-bold" >
      {{ name }}
    </span>
    
  </v-btn>
</template>

<script>
import { useTaskStore } from '@/store/tasks'
import { mapActions } from 'pinia'

export default {
  props: {
    name: {
      Type: String,
      required: true
    }
  },
  
  methods: {
    ...mapActions(useTaskStore, ['clearTasks', 'clearTasksDone']),
    clear() {
      if (this.name === 'Tasks') {
        this.clearTasks()
      } else {
        this.clearTasksDone()
      }
    }
  }
}
</script>

<style scoped lang="scss">
.custom {
  letter-spacing: 0;
  text-transform: none;
}

</style>