<template>
  <v-chip class="chip font-weight-bold text-white mx-1">
    <template v-slot:append>
      <v-avatar class="chip__avatar ">
        <span class="chip__avatar__span font-weight-bold">{{ count }}</span>
      </v-avatar>
    </template>
    {{ name }}
  </v-chip>
</template>

<script>
export default {
  props: {
    name: {
      Type: String,
      required: true
    },
    count: {
      Type: Number,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.chip {
  background: #3566fa;
  color: white;

  &__avatar {
    background-color: white;
    left: 7px;

    &__span {
      color: #3566fa;
    }
  }
}
</style>