<template>
  <v-container>
    <div class="d-flex align-center flex-column">
      <h1>Vue ToDo List</h1>
        <v-card
          width="800"
        >
          <CardHeader :tasks="tasks"/>
          <v-list v-for="task in tasks">
            <CardItem :task="task"/>
          </v-list>
          <CardFooter />
      </v-card>
  </div>
  </v-container>
</template>

<script>
import { useTaskStore } from '@/store/tasks'
import { mapState } from 'pinia'

import CardHeader from '@/components/Card/Header'
import CardItem from '@/components/Card/Item'
import CardFooter from '@/components/Card/Footer'

export default {
  components:{
    CardHeader,
    CardItem,
    CardFooter
  },
  computed: {
    ...mapState(useTaskStore, ['tasks'])
  }
}

</script>
